body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.concepto {
    font-size: 72px;
  }

.juego-screen { 
    display: flex;
    justify-content: center;  /* Alinea horizontalmente */
    align-items: center;      /* Alinea verticalmente */
    height: 100vh;            /* Altura completa de la ventana */
    border: 1px solid black;  /* Solo para visualizar el contenedor */
}

.oculto {
    display: none;
}

.ver {
    display: block;
}


ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    padding: 10px;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 5px;
}

#betaValue {
    font-size: 1.2em;
    margin-top: 20px;
}